.formBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.fullRow {
  grid-column: 1 / -1;
}

.statusBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.statusRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
