.card {
  width: 280px;
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &:nth-child(1) {
    background: linear-gradient(-45deg, #4361ee, #b9c2ed) no-repeat;
  }

  &:nth-child(2) {
    background: linear-gradient(-45deg, #f72585, #f1a6c8) no-repeat;
  }

  &:nth-child(3) {
    background: linear-gradient(-45deg, #7209b7, #aa90bc) no-repeat;
  }
}