.card {
  width: 280px;
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &:nth-child(1) {
    background: linear-gradient(-45deg, #8cc15a, #f3ffe6) no-repeat;
  }

  &:nth-child(2) {
    background: linear-gradient(-45deg, #65b5d3, #c2dde6) no-repeat;
  }

  &:nth-child(3) {
    background: linear-gradient(-45deg, #e42121, #e1bfbf) no-repeat;
  }
}