.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 8px;
}

.salesList {
  flex-grow: 1;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
}