.buttonContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  width: 160px;
  height: 50px;
  background: #4361ee;
  border-radius: 8px;
  user-select: none;
}

.telegramIcon {
  height: 60%;
}

.linkTitle {
  color: white;
}