.card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}