.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.searchBar {
  display: flex;
  gap: 8px;
  max-width: 420px;
  padding: 8px 0 16px;
}

.result {
  flex-grow: 1;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
}
